<html>
<title>Ineffable</title>
<style> body {color:white; font-family: Montserrat, Arial, sans-serif; font-size: 20px;} A {color: white; font-size: 12px;}</style>
	<body bgcolor="#000000" >

	<A NAME="TOP"></A>
		<h1> Let us crack open the heavens, and gain their attention.</h1>

		<form action="/quotes" method="POST">
			<input type="text" style="height:2.5em;width:8em;" placeholder="Name" name="name">
			<input type="textbox" style="height:2.5em;width:30em;" placeholder="Quote" name="quote">
			<button type="submit" style="height:2.5em;width:6em;">Submit</button><p align="left">Come on, be a sport and type something, then hit Submit.</p>
		</form>

		
		<font color="yellow">Replace last quote written by Ankur with a quote written by Gulshan.</font>
		<button id="update" style="height:2em;width:5em;">Update</button>
		

		<br>
  		<font color="red">Delete last quote.</font>
  		<button id="delete" style="height:2em;width:5em;">Delete</button>
  		

  		<A HREF="#BOTTOM"><p style="position: absolute; left: 285px; top: 203px; text-decoration: underline;">See what's down there.</p></A>

		

		<ul class="quotes">
	  	<% for(var i=0; i<quotes.length; i++) {%>
	    	<li class="quote">
	      	<span><b><%= quotes[i].name %></b></span>: 
	      	<span><%= quotes[i].quote %></span>
	    	</li>
	  	<% } %>

	  	<A NAME="BOTTOM"></A>
	  	<A HREF="#TOP"><p style="text-align:left;">Want to go up?</p></A>

	  	<script src="main.js"></script>	
	</body>
</html>